<head>
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<div class="footer-container">
    <div class="footer-top">
        <img src="/assets/pictures/logo.png" alt=""class="footer-logo">
        <h1>NATOURS</h1>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-left">
        <a href="">COMPANY</a>
        <a href="">CONTACT US</a>
        <a href="">CARRERS</a>
        <a href="">PRIVACY POLICY</a>
        <a href="">TERMS</a>
        </div>
        <div class="footer-bottom-right">
            <p>Built by JONAS SCHMEDTMANN for his online course</p>
            <p>ADVANCED CSS AND SASS. Copyright © by Jonas</p>
            <p>Schmedtmann. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!</p>
        </div>
    </div>
</div>