<head>
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<body>
    <div class="header-container">
        <img src="/assets/pictures/headerBackground.jpg" alt="" class="header-background">
        <img src="/assets/pictures/logo.png" alt=""class="header-icon">
        <h1 class="header-h1-animation">OUTDOORS</h1>
        <p class="header-p-animation">IS WHERE LIFE HAPPERNS</p>
        <a href="" class="header-button header-button-color header-button-animation">DISCOVER OUR TOURS</a>
    </div>
</body>